html,
body {
  height: 100%;
  margin: 0;
  background-color: #101010;
}


.main {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main > div {
  flex: 1;
}


.box {
  position: relative;
  z-index: 1;
  float: left;
  background-color: #444;
}

